{% extends "base.html" %}

{% block title %}Hello{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/jsx">

        /*** @jsx React.DOM */

        var greeting = React.createClass({
            render: function() {
                return (<h2>Greetings, from the Typesetter app!</h2>);
            }
        });

        ReactDOM.render(
            React.createElement(greeting, null),
            document.getElementById('content')
        );

    </script>
{% endblock %}
