.container {
    text-align: center;
    padding-top: 1em;
}

ul {
    margin-top: 5em;
    // margin-left: 3em;
    text-align: left;
}

// li {
//     display: block;
//     text-decoration: none;
//     color: #9e9e9e;
//     padding: 10px 20px;
// }

// li:hover {
//     background: #f3f8f8;
// }

li {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 0.3em solid;
    padding: 0.6em;
    margin-bottom: 1em;
    transition: all 0.3s ease-out;
}

li:nth-child(even) { 
    border-left-color: #00aced;
}

li:nth-child(odd) {
    border-left-color: #4183c4;
}

li:hover {
    color: grey;
}
